*~
tags
doc/html
doc/*.log
missionlib/testing/*.xcodeproj/*
.DS_Store
build*
.nfs*
share/
__pycache__
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
include/
.tags*
*.sublime-project
*.sublime-workspace
*.pyc
pymavlink/dialects/v10/quad_formation.py
pymavlink/dialects/v10/quad_formation.xml
